html
  head
    style
      include ../public/css/style.css
      title Acessar o Banco
    body
      script(src='../js/getAction.js')
      form(name="bankAcess" onsubmit="return getAction()" method="post")
        h1 Acessar o banco
        p Os campos marcados com um <strong><abbr title="required">*</abbr></strong> são de preenchimento obrigatório.
        p
          label(for="bankType")
            span Banco:

          select(id="bankType" name="bankType")
            option(value="banrisul") Banrisul
        p
          label(for="branch") Agência: <abbr title="required">*</abbr>
            input(id="branch" type="text" name="branch_number" value="")
        p
          label(for="account") Conta: <abbr title="required">*</abbr>
            input(id="account" type="text" name="account_number" value="")
        p
          label(for="password") Senha: <abbr title="required">*</abbr>
            input(id="password" type="password" name="password_number" value="")
        p
          button(type="submit" onclick="document.bankType=bankType.value") Acessar
